* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   width: 100%;
   
}

img {
   display: block;
   max-width: 100%;
   object-fit: cover;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   line-height: 1.5;
   color: #434455;
   min-height: 100vh;
   
}

.team_sec{
   background-color: #F4F4FD;
}

section {
   width: 100%;
   text-align: center;
   padding: 120px 0;
}

section h2 {
   margin-bottom: 20px;
}

ul li {
   margin-bottom: 5px;
}

.container_head {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 0 20px;
   box-sizing: border-box;
}

.portfolio_card {
   border-bottom: 1px solid #ddd;
   padding-bottom: 10px;
}

.text_head {
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07143;
   letter-spacing: 0.02em;
   text-align: center;
   color: #fff;
   max-width: 496px;
   margin: 0 auto;
}

a {
   text-decoration: none;
   color: inherit;
}


li {
   list-style: none;
}

.site_footer {
   background-color: #2e2f42;
   color: white;
}

.list_marg {
   padding: 24px 0;
}

.navigation-item {
   margin-right: 40px;
}

.navigation-item:last-child {
   margin-right: 0;
}

.nav_container {
   display: flex;
   align-items: center;
   gap: 40px;
}

.nav_list {
   display: flex;
   gap: 40px;
   list-style: none;
}

.logo_brand {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   margin-right: 76px;
}

.addres_cont {
   display: flex;
   gap: 40px;
   list-style: none;
   padding: 0;
   margin: 0;
}

.navigation_item a {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   text-decoration: none;
}

.navigation_item a:hover,
.navigation_item a:focus {
   color: #404bbf;
}

.title-two {
   font-weight: 700;
   font-size: 36px;
   color: #2e2f42;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   margin-bottom: 72px;
}

.portfolio_title {
   font-weight: 700;
   font-size: 36px;
   color: #2e2f42;
   line-height: 1.11;
   text-align: center;
   margin-bottom: 72px;
}

.teamsection_list {
   background-color: #FFFFFF;
   border-radius: 0 0 4px 4px;
   padding: 0px 0px 32px 0px;
   width: 264px;
   height: 380px;
   margin: 10px;
   text-align: center;
}

.teamsection-details {
   padding: 32px 0;
   text-align: center;
}

.title_three {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
}

.text {
   font-weight: 400;
   font-size: 16px;
   letter-spacing: 0.02em;
}

.order_but {
   background-color: var(--button-bg-color, #4d5ae5);
   cursor: pointer;
   color: white;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   border-radius: 4px;
   width: 169px;
   height: 56px;
   display: block;
   border: none;
   margin: 0 auto;
   min-width: 169px;
}

.order_but:hover {
   background-color: #404BBF;
}

.business_solution {
   background: #2e2f42;
   color: white;
   text-align: center;
   border-radius: 4px;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
}

.contacts_address {
   font-style: normal;
   letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:active,
.contacts:focus {
   color: #404BBF;
}

.studio {
   color: #2e2f42;
}

.text_footer {
   font-weight: 400;
   font-size: 16px;
   letter-spacing: 0.02em;
   color: #F4F4FD;
}

.studio_white {
   color: #f4f4fd;
}

.container {
   display: flex;
   max-width: 1158px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: border-box;
   display: flex;
   
}

.fd_row {
   flex-direction: row;
}

.fd_column {
   flex-direction: column;
}

.features_container {
   display: flex;
   flex-direction: row;
   gap: 24px;
}

.site-footer {
   background-color: #2e2f42;
   color: white;
   padding: 100px 0;
}

.logo_brand {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   display: inline-block;
   margin-bottom: 16px;
}

.text-footer {
   font-weight: 400;
   font-size: 16px;
   letter-spacing: 0.02em;
   color: #F4F4FD;
   max-width: 264px;
}

.feature_item {
   width: calc((100% - 72px) / 4);
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.feature_title {
   font-weight: 500;
   font-size: 20px;
   color: #2e2f42;
   margin-bottom: 8px;
}

.teamsection-list {
   display: flex;
   gap: 24px;
   list-style: none;
   padding: 0;
}

.teamsection-item {
   width: calc((100% - 72px) / 4);
   border-radius: 0px 0px 4px 4px;
   text-align: center;
   background-color: #fff;
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.ai_center{
   align-items: center;
}

.title-three {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   color: #2e2f42;
   margin-bottom: 8px;
}

.text {
   font-weight: 400;
   font-size: 16px;
   color: #434455;
}

.portfolio_list_container {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
   row-gap: 48px;
   justify-content: flex-start;
}

.portfolio_item {
   border: 1px solid #e7e9fc;
   padding: 10px;
   width: calc(33.3333% - 24px);
   text-align:left;
}

.portfolio_item:last-child {
   margin-bottom: 0;
}

.card {
   padding: 20px;
}

.portfolio_img {
   width: 100%;
   height: auto;
}